#modal {
	display: none;
	flex-direction: column;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	padding: 20px;
	background-color: #f0f0f0;
	text-align: center;
}
.addBtn {
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	cursor: pointer;
}
.reviewDiv{
	width: 500px;
	display: flex;
	gap: 10px;
	flex-direction: row;

}

.hidden{
	display: none;
}
